body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#characters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.character img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}
